<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layoutadmin/layoutadmin :: head"></head>
<body>
<section class="body">

    <!-- start: header -->
    <header th:replace="admin/layoutadmin/layoutadmin :: header" class="header"></header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside th:replace="admin/layoutadmin/layoutadmin :: sidebar-left" id="sidebar-left"
               class="sidebar-left"></aside>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header th:replace="admin/layoutadmin/layoutadmin :: page-header" class="page-header">
            </header>
            <!-- start: page -->

            <!-- end: page -->
        </section>
    </div>

    <aside th:replace="admin/layoutadmin/layoutadmin :: sidebar-right" id="sidebar-right" class="sidebar-right">
    </aside>
</section>

<div th:replace="admin/layoutadmin/layoutadmin :: js"></div>

</div>
</body>
</html>