<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">

        <!-- CSS here -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" href="../static/css/slicknav.css" th:href="@{/css/slicknav.css}">
        <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{/css/flaticon.css}">
        <link rel="stylesheet" href="../static/css/gijgo.css" th:href="@{/css/gijgo.css}">
        <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" href="../static/css/animated-headline.css" th:href="@{/css/animated-headline.css}">
        <link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}">
        <link rel="stylesheet" href="../static/css/themify-icons.css" th:href="@{/css/themify-icons.css}">
        <link rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}">
        <link rel="stylesheet" href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}">
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    </head>
<body>
    <header th:fragment="header">
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a th:href="@{/home}"><img style="height: 68px; width: 146px;" src="../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="index.html">trang chủ</a></li>
                                    <li><a href="about.html">giới thiệu</a></li>
                                    <li><a href="tinhchiso.html">tính chỉ số</a></li>
                                    <li><a href="hoivien.html">hội viên</a></li>
                                    <li><a href="gallery.html">trainer</a></li>
                                    <li><a href="blog.html">bài viết</a>

                                    </li>
                                    <li><a href="contact.html">liên hệ</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header-btn -->
                        <div class="header-btns d-none d-lg-block f-right">
                            <a href="contact.html" class="btn">đăng nhập</a>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                <li><a th:href="@{/home}" role="menuitem" tabindex="-1">trang chủ</a></li>
                                <li><a href="about.html" role="menuitem" tabindex="-1">giới thiệu</a></li>
                                <li><a href="courses.html" role="menuitem" tabindex="-1">tính chỉ số</a></li>
                                <li><a href="hoivien.html" role="menuitem" tabindex="-1">hội viên</a></li>
                                <li><a href="gallery.html" role="menuitem" tabindex="-1">trainer</a></li>
                                <li><a href="blog.html" role="menuitem" tabindex="-1">bài viết</a>

                                </li>
                                <li><a href="contact.html" role="menuitem" tabindex="-1">liên hệ</a></li>
                            </ul></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                <li><a href="index.html" role="menuitem" tabindex="-1">trang chủ</a></li>
                                <li><a href="about.html" role="menuitem" tabindex="-1">giới thiệu</a></li>
                                <li><a href="courses.html" role="menuitem" tabindex="-1">tính chỉ số</a></li>
                                <li><a href="hoivien.html" role="menuitem" tabindex="-1">hội viên</a></li>
                                <li><a href="gallery.html" role="menuitem" tabindex="-1">trainer</a></li>
                                <li><a href="blog.html" role="menuitem" tabindex="-1">bài viết</a>

                                </li>
                                <li><a href="contact.html" role="menuitem" tabindex="-1">liên hệ</a></li>
                            </ul></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                <li><a href="index.html" role="menuitem" tabindex="-1">trang chủ</a></li>
                                <li><a href="about.html" role="menuitem" tabindex="-1">giới thiệu</a></li>
                                <li><a href="courses.html" role="menuitem" tabindex="-1">tính chỉ số</a></li>
                                <li><a href="hoivien.html" role="menuitem" tabindex="-1">hội viên</a></li>
                                <li><a href="gallery.html" role="menuitem" tabindex="-1">trainner</a></li>
                                <li><a href="blog.html" role="menuitem" tabindex="-1">bài viết</a>

                                </li>
                                <li><a href="contact.html" role="menuitem" tabindex="-1">liên hệ</a></li>
                            </ul></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                <li><a href="index.html" role="menuitem" tabindex="-1">trang chủ</a></li>
                                <li><a href="about.html" role="menuitem" tabindex="-1">giới thiệu</a></li>
                                <li><a href="courses.html" role="menuitem" tabindex="-1">tính chỉ số</a></li>
                                <li><a href="v.html" role="menuitem" tabindex="-1">hội viên</a></li>
                                <li><a href="gallery.html" role="menuitem" tabindex="-1">trainner</a></li>
                                <li><a href="blog.html" role="menuitem" tabindex="-1">bài viết</a>

                                </li>
                                <li><a href="contact.html" role="menuitem" tabindex="-1">liên hệ</a></li>
                            </ul></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                <li><a href="index.html" role="menuitem" tabindex="-1">Home</a></li>
                                <li><a href="about.html" role="menuitem" tabindex="-1">About</a></li>
                                <li><a href="courses.html" role="menuitem" tabindex="-1">Courses</a></li>
                                <li><a href="hoivien.html" role="menuitem" tabindex="-1">Pricing</a></li>
                                <li><a href="gallery.html" role="menuitem" tabindex="-1">Gallery</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"></a><a href="blog.html" tabindex="-1">Blog</a>
                                    <span class="slicknav_arrow">+</span><ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="blog.html" role="menuitem" tabindex="-1">Blog</a></li>
                                        <li><a href="blog_details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="elements.html" role="menuitem" tabindex="-1">Elements</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                            </ul></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <footer th:fragment="footer">
        <!--? Footer Start-->
        <div class="footer-area black-bg">
            <div class="container">
                <div class="footer-top footer-padding">
                    <!-- Footer Menu -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="single-footer-caption mb-50 text-center">
                                <!-- logo -->
                                <div class="footer-logo wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                    <a th:src="@{/home}"><img src="../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt=""></a>
                                </div>
                                <!-- Menu -->
                                <!-- Header Start -->
                                <div class="header-area main-header2 wow fadeInUp" data-wow-duration="2s"
                                     data-wow-delay=".4s">
                                    <div class="main-header main-header2">
                                        <div class="menu-wrapper menu-wrapper2">
                                            <!-- Main-menu -->
                                            <div class="main-menu main-menu2 text-center">
                                                <nav>
                                                    <ul>
                                                        <li><a href="index.html">trang chủ</a></li>
                                                        <li><a href="about.html">giới thiệu</a></li>
                                                        <li><a href="tinhchiso.html">Tính chỉ số</a></li>
                                                        <li><a href="pricing.html">hội viên</a></li>
                                                        <li><a href="gallery.html">TRAINER</a></li>
                                                        <li><a href="contact.html">LIÊN HỆ</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Header End -->
                                <!-- social -->
                                <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright ©
                                    <script>document.write(new Date().getFullYear());</script>
                                    202120212021 All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                                     aria-hidden="true"></i>
                                    by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <div th:fragment="js">
        <script src="../static/js/vendor/modernizr-3.5.0.min.js" th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="../static/js/vendor/jquery-1.12.4.min.js" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
        <script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <!-- Jquery Mobile Menu -->
        <script src="../static/js/jquery.slicknav.min.js" th:src="@{/js/jquery.slicknav.min.js}"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
        <script src="../static/js/slick.min.js" th:src="@{/js/slick.min.js}"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
        <script src="../static/js/animated.headline.js" th:src="@{/js/animated.headline.js}"></script>
        <script src="../static/js/jquery.magnific-popup.js" th:src="@{/js/jquery.magnific-popup.js}"></script>

        <!-- Date Picker -->
        <script src="../static/js/gijgo.min.js" th:src="@{/js/gijgo.min.js}"></script>
        <!-- Nice-select, sticky -->
        <script src="../static/js/jquery.nice-select.min.js" th:src="@{/js/jquery.nice-select.min.js}"></script>
        <script src="../static/js/jquery.sticky.js" th:src="@{/js/jquery.sticky.js}"></script>

        <!-- counter , waypoint,Hover Direction -->
        <script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
        <script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
        <script src="../static/js/jquery.countdown.min.js" th:src="@{/js/jquery.countdown.min.js}"></script>
        <script src="../static/js/hover-direction-snake.min.js" th:src="@{/js/hover-direction-snake.min.js}"></script>

        <!-- contact js -->
        <script src="../static/js/contact.js" th:src="@{/js/contact.js}"></script>
        <script src="../static/js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
        <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
        <script src="../static/js/mail-script.js" th:src="@{/js/jquery.validate.min.js}"></script>
        <script src="../static/js/jquery.ajaxchimp.min.js" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
        <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    </div>
</body>
</html>