<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/layout/layout :: head">
    <title>Gym trainer | Template </title>
</head>
<body class="black-bg" style="overflow: visible;">
    <!-- ? Preloader Start -->
    <div id="preloader-active" style="display: none;">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{img/logo/loder.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header th:replace="user/layout/layout::header">
    </header>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>trung tâm</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!--? About Area-2 Start -->
    <section class="about-area2 fix pb-padding pt-50 pb-80">
        <div class="support-wrapper align-items-center">
            <div class="right-content2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- img -->
                <div class="right-img">
                    <img th:src="@{img/about/room3.jpg}" alt="">
                </div>
            </div>
            <div class="left-content2">
                <!-- section tittle -->
                <div class="section-tittle2 mb-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="front-text">
                        <h2 class="">Anh Nguyen</h2>
                        <p>Anh Nguyen Center là trung tâm thể hình được thành lập vào năm 2025. Trung tâm đạt chuẩn phòng tập thể hình quốc tế. Nhằm mục đích nâng cao sức khỏe và thể dục thẩm mỹ cho các hội viên.</p>
                        <p class="mb-40">Sau 3 năm hoạt động trung tâm đã phát triển và có hơn 1000 hội hiên ở 3 cở sở Hà Nội, Thanh Hóa, Hồ Chí Minh. Với tiêu chí đặt uy tín lên hàng đầu chúng tôi "Anh Nguyen Center" luôn mong muốn mang lại sức khỏe và trải nghiệm tốt nhất cho khách hàng</p>
                        <a href="courses.html" class="border-btn">Xem ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->
    <section>
        <div class="cat-icon" style=" text-align: center;">
            <img style="width: 1200px;height: 700px;" th:src="@{img/about/room2.jpg}" alt="">
        </div>
        <div class="cat-cap">
            <h5><a style="font-size: 35px;
                font-weight: 500;
                margin-bottom: 14px; margin-top: 50px;
                display: block;color: aliceblue;text-align: center;" href="services.html">Phòng Tập hiện đại</a></h5>
        </div>
    </section>
    
    <section style="margin-top: 60px;"></section>
        <div class="cat-icon" style="margin-top: 20px; text-align: center;">
            <img style="width: 1200px;height: 700px;" th:src="@{img/about/room1.jpg}" alt="">
        </div>
        <div class="cat-cap">
            <h5><a style="font-size: 35px;
                font-weight: 500;
                margin-bottom: 14px; margin-top: 50px;
                display: block;color: aliceblue;text-align: center;" href="services.html">Trang Thiết Bị đáp ứng moại nhu cầu</a></h5>
        </div>
    </section>

    <section style="margin-top: 60px;">
        <div class="cat-icon" style="margin-top: 20px; text-align: center;">
            <img style="width: 1200px;height: 700px;" th:src="@{img/about/room8.jpg}" alt="">
        </div>
        <div class="cat-cap">
            <h5><a style="font-size: 35px;
                font-weight: 500;
                margin-bottom: 14px; margin-top: 50px;
                display: block;color: aliceblue;text-align: center;" href="services.html">Phòng xông hơi chuẩn 5*</a></h5>
        </div>
    </section>

    <section style="margin-top: 60px;"> -->
        <div class="cat-icon" style="margin-top: 20px; text-align: center;">
            <img style="width: 1200px;height: 700px;" th:src="@{img/about/room13.jpg}" alt="">
        </div>
        <div class="cat-cap">
            <h5><a style="font-size: 35px;
                font-weight: 500;
                margin-bottom: 14px; margin-top: 50px;
                display: block;color: aliceblue;text-align: center;" href="services.html">Phòng thay đồ xịn sò</a></h5>
        </div>
    </section>

    <section style="margin-top: 60px;">
        <div class="cat-icon" style="margin-top: 20px; text-align: center;">
            <img style="width: 1200px;height: 700px;" th:src="@{img/about/room11.jpg}" alt="">
        </div>
        <div class="cat-cap">
            <h5><a style="font-size: 35px;
                font-weight: 500;
                margin-bottom: 14px; margin-top: 50px;
                display: block;color: aliceblue;text-align: center;" href="services.html">Huấn luyện viên tận tình</a></h5>
        </div>
    </section>

    <section style="margin-top: 60px;">
        <div class="cat-icon" style="margin-top: 20px; text-align: center;">
            <img style="width: 1200px;height: 700px;" th:src="@{img/about/room14.png}" alt="">
        </div>
        <div class="cat-cap">
            <h5><a style="font-size: 35px;
                font-weight: 500;
                margin-bottom: 14px; margin-top: 50px;
                display: block;color: aliceblue;text-align: center;" href="services.html">Không quên dành tặng góc sống ảo cho chị em</a></h5>
        </div>
    </section> -->
</main>
    <footer th:replace="user/layout/layout::footer"></footer>
  <!-- Scroll Up -->
  <div id="back-top" style="display: block;">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

    <div th:replace="user/layout/layout::js"></div>

</body>
</html>