<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/layout/layout :: head">
    <title>Gym trainer | Template </title>
</head>
<body class="black-bg" style="overflow: visible;">
<!-- ? Preloader Start -->
<div id="preloader-active" style="display: none;">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{img/logo/loder.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header th:replace="user/layout/layout::header">
</header>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>trainer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Gallery Area Start -->
    <div class="gallery-area section-padding30 ">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-tittle text-center mb-55 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s"
                     style="visibility: visible; animation-duration: 2s; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h2>personal trainer</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="row" style="  background-size: 230px 435px;">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4" th:each="hLV:${lHLV}">
                    <div class="box snake mb-30">
                        <div class="gallery-img big-img tryReplaceUrlImageBackground" th:data-url-bg="@{'/post/'+ ${hLV.hinhAnh}}"
                             th:style="'background-image: url('+ @{'/post/'+ ${hLV.hinhAnh}} +')'">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3 th:text="${hLV.tenHuanLuyenVien}"></h3>
                                <div style="display: inline-flex; margin-top: 5px;">
                                    <h5><label>Tuổi : </label></h5>
                                    <h5>
                                        <label th:text="${hLV.tuoi}"></label>
                                    </h5>
                                </div>
                                <br>
                                <div style="display: inline-flex">
                                    <h5><label>Kinh Nghiệm : </label></h5>
                                    <h5>
                                        <label th:text="${hLV.kinhNghiem}"></label>
                                    </h5>
                                </div>
                                <br>
                                <div style="display: inline-flex">
                                    <h5><label>Thành Tích : </label></h5>
                                    <h5>
                                        <label th:text="${hLV.thanhTich}"></label>
                                    </h5>
                                </div>

                            </div>
                            <div class="overlay-content1">
                                <a href="gallery.html"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Gallery Area End -->


</main>
<footer th:replace="user/layout/layout::footer"></footer>
<!-- Scroll Up -->
<div id="back-top" style="display: block;">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<div th:replace="user/layout/layout::js"></div>

<script>
    document.querySelectorAll(".tryReplaceUrlImageBackground").forEach(function(image){
        var urlImg = image.getAttribute("data-url-bg");
        if(urlImg.indexOf(" ") == -1){
            return;
        }
        urlImg = urlImg.replace(/\ /g, "%20");
        image.style.backgroundImage = "url('" + urlImg + "')";
    })
</script>

</body>
</html>