<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/layout/layout :: head">
    <title>Gym trainer | Template </title>
</head>
<body class="black-bg" style="overflow: visible;">
    <!-- ? Preloader Start -->
    <div id="preloader-active" style="display: none;">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{img/logo/loder.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header th:replace="user/layout/layout::header">
    </header>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>Hội Viên</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Courses area start -->
    <section class="pricing-area section-padding30 fix">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-tittle text-center mb-55">
                        <h2>Giá thẻ tập</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="properties__card">
                            <div class="about-icon">
                                <img th:src="@{img/icon/price.svg}" alt="">
                            </div>
                            <div class="properties__caption">
                                <span class="month">6 tháng</span>
                                <p class="mb-25">$30/m  <span>(Single class)</span></p>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Nước uống miễn phí</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>xông hơi hàn quốc</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>trainer đạt chứng chỉ quốc tế</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Tư vấn dinh dưỡng</p>
                                    </div>
                                </div>
                                <div class="single-features mb-20">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>giãn cơ sau tập</p>
                                    </div>
                                </div>
                                <a href="#" class="border-btn border-btn2">tham gia</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="properties__card">
                            <div class="about-icon">
                                <img th:src="@{img/icon/price.svg}" alt="">
                            </div>
                            <div class="properties__caption">
                                <span class="month">3 tháng</span>
                                <p class="mb-25">$20/m  <span>(Single class)</span></p>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Nước uống miễn phí</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>xông hơi hàn quốc</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>trainer đạt chứng chỉ quốc tế</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Tư vấn dinh dưỡng</p>
                                    </div>
                                </div>
                                <div class="single-features mb-20">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>giãn cơ sau tập</p>
                                    </div>
                                </div>
                                <a href="#" class="border-btn border-btn2">tham gia</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="properties__card">
                            <div class="about-icon">
                                <img th:src="@{img/icon/price.svg}" alt="">
                            </div>
                            <div class="properties__caption">
                                <span class="month">1 tháng</span>
                                <p class="mb-25">$8/m  <span>(Single class)</span></p>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Nước uống miễn phí</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>xông hơi hàn quốc</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>trainer đạt chứng chỉ quốc tế</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Tư vấn dinh dưỡng</p>
                                    </div>
                                </div>
                                <div class="single-features mb-20">
                                    <div class="features-icon">
                                        <img th:src="@{img/icon/check.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>giãn cơ sau tập</p>
                                    </div>
                                </div>
                                <a href="#" class="border-btn border-btn2">tham gia</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Courses area End -->
</main>
    <footer th:replace="user/layout/layout::footer"></footer>
  <!-- Scroll Up -->
  <div id="back-top" style="display: none;">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

    <div th:replace="user/layout/layout::js"></div>
</body>
   
</html>