<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/layout/layout :: head">
    <title>Gym trainer | Template </title>
</head>
<body class="black-bg" style="overflow: visible;">
<div class="header-area header-transparent">
    <div class="main-header header-sticky">
        <div class="container-fluid">
            <div class="menu-wrapper d-flex align-items-center justify-content-between">
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html"><img style="height: 68px; width: 146px;" th:src="@{img/logo/logo.png}" alt=""></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu f-right d-none d-lg-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="index.html">trang chủ</a></li>
                            <li><a href="about.html">giới thiệu</a></li>
                            <li><a href="tinhchiso.html">tính chỉ số</a></li>
                            <li><a href="hoivien.html">hội viên</a></li>
                            <li><a href="gallery.html">trainer</a></li>
                            <li><a href="blog.html">bài viết</a>

                            </li>
                            <li><a href="contact.html">liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Header-btn -->
                <div class="header-btns d-none d-lg-block f-right">
                    <a href="contact.html" class="btn">đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ? Preloader Start -->
<header th:replace="user/layout/layout::header">
</header>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>Chỉ số năng lượng</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
</main>
<section style="background-color: white" class="contact-section">
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Nhập thông tin</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" th:object="${index}" th:action="@{/tinhchiso}" method="post">
                    <div class="row">
                        <div class="col-sm-6" style="display: inline-flex">
                            <div class="form-group" style="padding-right: 12px">
                                <label style="text-align: center;padding-top:11px;">Nhập cân nặng(kg)</label>
                            </div>
                            <div class="form-group">
                                <input th:field="*{weight}" class="form-control error" name="name" type="text" placeholder="Nhập Chiều Cao(Centimet)">
                            </div>
                        </div>
                        <div class="col-sm-6" style="display: inline-flex">
                            <div class="form-group" style="padding-right: 12px">
                                <label style="text-align: center;padding-top:11px;">Nhập chiều cao(cm) </label>
                            </div>
                            <div class="form-group">
                                <input th:field="*{height}" class="form-control error" type="text" placeholder="Nhập Cân Nặng(kilogam)">
                            </div>
                        </div>
                        <div class="col-sm-12" style="display: inline-flex">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control w-100" name="message" id="tuoi" placeholder=" Nhập Tuổi">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <select th:field="*{sex}" class="form-control valid">
                                        <option value="2">Chọn giới tính</option>
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select th:field="*{activity}" class="form-control valid">
                                        <option value="6">Chọn cường độ luyện tập</option>
                                        <option value="1">Ít hoạt động</option>
                                        <option value="2">Có tập nhẹ</option>
                                        <option value="3">Vừa</option>
                                        <option value="4">Nhiều</option>
                                        <option value="5">Rất Nhiều</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="button button-contactForm boxed-btn">
                        </div>
                    </div>
                </form >
                <form class="form-contact contact_form">
                    <div  class="col-sm-12" style="display: inline-flex">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-control w-30" >BRM</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label th:text="${BRM}" style="color: #990000" class="form-control w-30"  ></label>
                            </div>
                        </div>
                    </div>
                    <div  class="col-sm-12" style="border: 3px #0a0a0a; display: inline-flex" >
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-control w-30" >TDEE</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label th:text="${TDEE}" style="color: #990000" class="form-control w-30"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="border: 3px #0a0a0a; display: inline-flex" >
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-control w-30" >BMI</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label th:text="${BMI}" style="color: #990000" class="form-control w-30" ></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label th:text="${textBMI}" style="color: #990000" class="form-control w-30"  ></label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <a href="" style="color: #990000; font-size: 25px;">"*Nếu bạn chưa biết về TDEE,BRM,BMI nhấn vào đây*"</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Anh Nguyen Hà Nội</h3>
                        <p>Thanh Xuân-Hà Nội</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>0325433399</h3>
                        <p>6:00 am-9:00pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>support@angnguyen.com</h3>
                        <p>Hẹn gặp bạn sớm nhất</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="user/layout/layout::footer"></footer>
<!-- Scroll Up -->
<div id="back-top" style="display: none;">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<div th:replace="user/layout/layout::js"></div>
</body>
</html>